.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(88, 218, 241); 
    padding: 10px 20px; 
  }

.nav-links {
    display: flex;
    list-style: none; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 10px;
}

.nav-links li {
    display: inline-block; 
    margin-right: 20px; 
  }